.background {
  background-color: rgba(234, 230, 230, 0.799);
  width: 80% !important;
}

.code-block {
  background-color: #5F6F94;
  color: #fbfefbfa;
  padding: 1rem;
  font-family: 'Courier New', monospace;
  overflow-x: auto;
}

 a {
  text-decoration: none;
  color: aliceblue;
}

.code-line {
  display: block;
  padding-left: 1rem;
  border-left: 3px solid #80838b;
}

.green {
  color: rgb(14, 225, 14);
  font-size: 16px;
}

.red {
  color: red;
  font-size: 16px;
}

.yellow {
  color: rgb(226, 226, 19);
  font-size: 16px;
}

#basic-addon1 {
  color: rgb(0, 191, 255);
}